.results_scores {
	text-align: center;
	font-size: 3rem;
	opacity: 0;

	transition: opacity .2s;
}
.results_scores.display {
	opacity: 1;
}

#scores {
	font-size: 2em;
}

#scores.good {
	color: #32CB37;
}
#scores.bad {
	color: #CB3232;
}
#scores.neitral {
	color: #EADE31;
}